<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin App</title>
    <link rel="stylesheet" href="{{ asset('build/admin/admin.css') }}">
</head>
<body>
<div id="root"></div>
<script src="{{ asset('build/admin/runtime.js') }}"></script>
<script src="{{ asset('build/admin/admin.js') }}"></script>
</body>
</html>