<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Client App</title>
    <link rel="stylesheet" href="{{ asset('build/client/client.css') }}">
</head>
<body>
<div id="root"></div>
<script src="{{ asset('build/client/runtime.js') }}"></script>
<script src="{{ asset('build/client/client.js') }}"></script>
</body>
</html>